@using Application.Wrappers

@if (result != null && result.Messages.Count > 0)
{
    <div style="margin-top:10px">
        @for (int i = 0; i < result.Messages.Count; i++)
        {
            if (result.Succeeded)
            {
                <div class="text-success">@result.Messages[i]</div>
            }
            else
            {
                <div class="text-danger">@result.Messages[i]</div>
            }

        }
    </div>
}

@code {
    [Parameter]
    public IResult<string> result { get; set; }
}
